body{
  margin: 0;
  padding: 0;
}
.hexagon {
  height: 200px;
  width: 120px;
  background: #96261e;
  position:relative;
  left:50px;
  box-sizing: border-box;
}
.hexagon::before, .hexagon::after {
  content:"";
  position: absolute;
  height: 0;
  width: 0; 
  top:0;
  /* half height */
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent; 
}
.hexagon::before {
  left:-50px;
  border-right:50px solid #96261e; 
}
.hexagon::after {
  right:-50px;
  border-left:50px solid #96261e; 
}

.back-inner{
  background: blue !important;
}
.back-inner::before{
  border-right:50px solid blue !important; 
}
.back-inner::after{
  border-left:50px solid blue; 
}

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
  /*border: 1px solid; */
  width: 203px !important;
}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
  /* transform: rotateY(180deg);*/
}

.flip-container, .front, .back {
	width: 222px;
	height: 200px;
  transform: rotate(90deg);
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}
